/*CSS Stylesheet*/
body {
    margin: 0;
}

#first {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80px;
    background-color: rgb(89, 161, 231);
}

#bottom {
    margin-bottom: 30px;
    height: 80px;
    background-color: rgb(149, 194, 238);
}

.content {
    background-color: rgb(120, 202, 255);
}

img {
    width: 100%;
    padding: 20px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
}