/*CSS Stylesheet*/
body, .content {
    background-color: rgb(120, 202, 255);
    width: 320px;
}

#firstbutton {
    margin-bottom: 15px;
    margin-left: 12px;
    height: 80px;
    width: 140px;
    background-color: rgb(89, 161, 231);
    display: inline-block;
    font-size: 18px;
}

#bottombutton {
    margin-bottom: 15px;
    margin-left: 12px;
    height: 80px;
    Width: 140px;
    background-color: rgb(149, 194, 238);
    display: inline-block;
    font-size: 18px;
}

#topbutton {
  margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 12px;
    height: 80px;
    width: 140px;
    background-color: rgb(89, 161, 231);
    display: inline-block;  
    font-size: 18px;
}

#lastbutton {
    margin-bottom: 30px;
    height: 80px;
    width: 296px;
    background-color: rgb(44, 119, 191);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

#pages {
    margin-top: 1px;
    margin-bottom: 15px;
    height: 40px;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.infographic {
    width: 100%;
    padding: 15px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
}

img {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#enter {
    margin-bottom: 30px;
    height: 60px;
    width: 100px;
    background-color: rgb(89, 161, 231);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    padding-top: 50px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

iframe {
    width: 100%;
}

.ipadonly {
    display: none;
}


/*iphone 6*/
@media screen and (max-width: 375px) and (min-width: 370px) {
    
body, .content {
    width: 100%;
}

#logo {
    padding-top: 85px;
}
    
#topbutton, #bottombutton, #firstbutton {
    margin-left: 30px;
    margin-bottom: 33px;
}
    
#topbutton{
   margin-top: 85px;     
}
    
#lastbutton {
    width: 313px;  
}
    
#pages {
    width: 300px;
    font-size: 16px;
}
    
.ipadonly {
    display: none;
}
    
}


/*iphone 6plus*/
@media screen and (max-width: 414px) and (min-width: 413px) {
    
body, .content {
    width: 100%;
}

#logo {
    padding-top: 100px;
}
    
#topbutton, #bottombutton, #firstbutton {
    margin-left: 43px;
    margin-bottom: 33px;
    height: 95px;
}
    
#topbutton{
    margin-top: 100px; 
    height: 95px;
}
    
#lastbutton {
    width: 320px; 
    height: 95px;
}
    
#pages {
    width: 360px;
    font-size: 20px;
}
    
.ipadonly {
    display: none;
}
    
}


/*iPad Mini*/
@media screen and (max-width: 768px) and (min-width: 703px) {
    
body, .content {
    width: 100%;
}

#logo {
    padding-top: 120px;
    width: 60%;
}
    
#topbutton, #bottombutton, #firstbutton {
    margin-left: 55px;
    margin-bottom: 40px;
    height: 130px;
    width: 300px;
    font-size: 30px;
}
    
#topbutton{
    margin-top: 20px; 
    height: 130px;
    width: 300px;
}
    
#lastbutton {
    height: 130px;
    width: 665px;
    font-size: 40px;
}
    
#pages {
    width: 570px;
    height: 80px;
    font-size: 30px;
} 

#enter {
    width: 400px;
    font-size: 25px;
}
    
h1 {
   font-size: 50px;     
}
    
.ipadonly {
    display: block;
    width: 20%;
}
    
}