/*CSS Stylesheet*/
body {
    margin: 0;
}

#first {
    margin-bottom: 15px;
    margin-left: 12px;
    height: 80px;
    width: 140px;
    background-color: rgb(89, 161, 231);
    display: inline-block;
    font-size: 18px;
}

#bottom {
    margin-bottom: 15px;
    margin-left: 12px;
    height: 80px;
    Width: 140px;
    background-color: rgb(149, 194, 238);
    display: inline-block;
    font-size: 18px;
}

#top {
  margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 12px;
    height: 80px;
    width: 140px;
    background-color: rgb(89, 161, 231);
    display: inline-block;  
    font-size: 18px;
}

#last {
    margin-bottom: 30px;
    height: 80px;
    width: 296px;
    background-color: rgb(149, 194, 238);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.content {
    background-color: rgb(120, 202, 255);
    width: 320px;
}

.original {
    width: 100%;
    padding: 15px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
}

h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
}

.bigger {
    width: 100%;
    padding: none;
}

img {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#enter {
    margin-bottom: 30px;
    height: 60px;
    width: 100px;
    background-color: rgb(89, 161, 231);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

iframe {
    width: 100%;
    height: 100%;
}